body {

}

#title {
	text-align: center;
}

.content {
}

.content h1 {
	font-family: 'Reenie Beanie', sans-serif;
	font-size: 84px;
}

image:hover {
	cursor: pointer;
}

svg {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}